{% include 'fragments/header.toml.j2' %}


{% include 'fragments/goc/provider.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['provider', 'channel-0'], # sputnik CCV channel
  ['transfer', 'channel-1'], # sputnik TOKEN channel
  ['provider', 'channel-2'], # apollo CCV channel
  ['transfer', 'channel-3'], # apollo TOKEN channel
]

{% include 'fragments/goc/apollo.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['consumer', 'channel-0'], # provider CCV channel
  ['transfer', 'channel-1'], # provider TOKEN channel
]

{% include 'fragments/goc/sputnik.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['consumer', 'channel-0'], # provider CCV channel
  ['transfer', 'channel-1'], # provider TOKEN channel
]
