{% include 'fragments/header.toml.j2' %}


{% include 'fragments/mainnet/agoric.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-6'], # Axelar
  ['transfer', 'channel-2'], # Crescent
  ['transfer', 'channel-5'], # Cosmos
  ['transfer', 'channel-4'], # Gravity
  ['transfer', 'channel-1'], # Osmosis
]

{% include 'fragments/mainnet/akash.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-35'], # Juno
  ['transfer', 'channel-9'], # Osmosis
]

{% include 'fragments/mainnet/axelar.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-40'], # Agoric
  ['transfer', 'channel-2'], # Cosmos
  ['transfer', 'channel-7'], # Crescent
  ['transfer', 'channel-22'], # Evmos
  ['transfer', 'channel-14'], # Kujira
  ['transfer', 'channel-10'], # Injective
  ['transfer', 'channel-3'], # Osmosis
  ['transfer', 'channel-18'], # Stargaze
  ['transfer', 'channel-33'], # Stride
  ['transfer', 'channel-36'], # Umee
]

{% include 'fragments/mainnet/bitcanna.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-10'], # Juno
  ['transfer', 'channel-1'], # Osmosis
]

{% include 'fragments/mainnet/canto.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-2'], # Cosmos
]


{% include 'fragments/mainnet/chihuahua.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-15'], # Gravity
  ['transfer', 'channel-12'], # Injective
  ['transfer', 'channel-11'], # Juno
  ['transfer', 'channel-7'], # Osmosis
]

{% include 'fragments/mainnet/cosmos.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-405'], # Agoric
  ['transfer', 'channel-293'], # Axelar
  ['transfer', 'channel-358'], # Canto
  ['transfer', 'channel-326'], # Crescent
  ['transfer', 'channel-292'], # Evmos
  ['transfer', 'channel-220'], # Injective
  ['transfer', 'channel-343'], # Kujira
  ['transfer', 'channel-141'], # Osmosis
  ['transfer', 'channel-391'], # Stride
  ['transfer', 'channel-431'], # Teritori
]

{% include 'fragments/mainnet/crescent.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-11'], # Agoric
  ['transfer', 'channel-4'], # Axelar
  ['transfer', 'channel-1'], # Cosmos
  ['transfer', 'channel-2'], # Gravity
  ['transfer', 'channel-3'], # Juno
  ['transfer', 'channel-9'], # Osmosis
]

{% include 'fragments/mainnet/evmos.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-21'], # Axelar
  ['transfer', 'channel-3'], # Cosmos
  ['transfer', 'channel-10'], # Injective
  ['transfer', 'channel-18'], # Kujira
  ['transfer', 'channel-5'], # Juno
  ['transfer', 'channel-0'], # Osmosis
  ['transfer', 'channel-25'], # Stride
  ['transfer', 'channel-35'], # Teritori
]

{% include 'fragments/mainnet/gravity.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-91'], # Agoric
  ['transfer', 'channel-34'], # Chihuahua
  ['transfer', 'channel-62'], # Crescent
  ['transfer', 'channel-8'], # Juno
  ['transfer', 'channel-10'], # Osmosis
  ['transfer', 'channel-7'], # Stargaze
  ['transfer', 'channel-28'], # Umee
]

{% include 'fragments/mainnet/injective.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-84'], # Axelar
  ['transfer', 'channel-76'], # Chihuahua
  ['transfer', 'channel-1'], # Cosmos
  ['transfer', 'channel-83'], # Evmos
  ['transfer', 'channel-8'], # Osmosis
  ['transfer', 'channel-89'], # Stride
]

{% include 'fragments/mainnet/kichain.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-8'], # Juno
  ['transfer', 'channel-0'], # Osmosis
]

{% include 'fragments/mainnet/kujira.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-9'], # Axelar
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-23'], # Evmos
  ['transfer', 'channel-1'], # Juno
  ['transfer', 'channel-3'], # Osmosis
  ['transfer', 'channel-7'], # Stargaze
  ['transfer', 'channel-32'], # Stride
]

{% include 'fragments/mainnet/jackal.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-0'], # Osmosis
]

{% include 'fragments/mainnet/juno.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-29'], # Akash
  ['transfer', 'channel-50'], # Bitcanna
  ['transfer', 'channel-28'], # Chihuahua
  ['transfer', 'channel-81'], # Crescent
  ['transfer', 'channel-70'], # Evmos
  ['transfer', 'channel-31'], # Gravity
  ['transfer', 'channel-58'], # Kichain
  ['transfer', 'channel-87'], # kujira
  ['wasm.juno1v4887y83d6g28puzvt8cl0f3cdhd3y6y9mpysnsp3k8krdm7l6jqgm0rkn', 'channel-47'], # Osmosis-CW20
  ['transfer', 'channel-0'], # Osmosis
  ['transfer', 'channel-5'], # Sifchain
  ['transfer', 'channel-20'], # Stargaze
  ['transfer', 'channel-62'], # Umee
]

{% include 'fragments/mainnet/osmosis.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-320'], # Agoric
  ['transfer', 'channel-208'], # Axelar
  ['transfer', 'channel-1'], # Akash
  ['transfer', 'channel-51'], # Bitcanna
  ['transfer', 'channel-113'], # Chihuahua
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-297'], # Crescent
  ['transfer', 'channel-204'], # Evmos
  ['transfer', 'channel-144'], # Gravity
  ['transfer', 'channel-122'], # Injective
  ['transfer', 'channel-412'], # Jackal
  ['transfer', 'channel-42'], # Juno
  ['transfer', 'channel-169'], # Juno CW-20
  ['transfer', 'channel-77'], # Kichain
  ['transfer', 'channel-259'], # Kujira
  ['transfer', 'channel-47'], # Sifchain
  ['transfer', 'channel-75'], # Stargaze
  ['transfer', 'channel-326'], # Stride
  ['transfer', 'channel-362'], # Teritori
  ['transfer', 'channel-184'], # Umee
]

{% include 'fragments/mainnet/sifchain.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-14'], # Juno
  ['transfer', 'channel-17'], # Osmosis
]

{% include 'fragments/mainnet/stargaze.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-50'], # Axelar
  ['transfer', 'channel-6'], # Gravity
  ['transfer', 'channel-49'], # Kujira
  ['transfer', 'channel-5'], # Juno
  ['transfer', 'channel-0'], # Osmosis
]

{% include 'fragments/mainnet/stride.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-11'], # Axelar
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-9'], # Evmos
  ['transfer', 'channel-6'], # Injective
  ['transfer', 'channel-8'], # Kujira
  ['transfer', 'channel-5'], # Osmosis
]

{% include 'fragments/mainnet/teritori.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-10'], # Cosmos
  ['transfer', 'channel-1'], # Evmos
  ['transfer', 'channel-0'], # Osmosis
]

{% include 'fragments/mainnet/umee.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-33'], # Axelar
  ['transfer', 'channel-9'], # Gravity
  ['transfer', 'channel-2'], # Juno
  ['transfer', 'channel-0'], # Osmosis
]
