[[chains]]
id = 'agoric-3'
rpc_addr = 'http:/{{ agoric_ip }}:14457'
grpc_addr = 'http:/{{ agoric_ip }}:14490'
websocket_addr = 'ws:/{{ agoric_ip }}:14457/websocket'

rpc_timeout = '20s'
account_prefix = 'agoric'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 300000
max_gas =  1000000
gas_price = { price = 0.01, denom = 'ubld' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '14days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }
