[[chains]]
id = 'axelar-dojo-1'
rpc_addr = 'http://{{ axelar_ip }}:15157'
grpc_addr = 'http://{{ axelar_ip }}:15190'
websocket_addr = 'ws://{{ axelar_ip }}:15157/websocket'

rpc_timeout = '20s'
account_prefix = 'axelar'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 300000
max_gas = 10000000
gas_price = { price = 0.007, denom = 'uaxl' }
gas_multiplier = 1.4
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '6days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }
