[[chains]]
id = 'crypto-org-chain-mainnet-1'
rpc_addr = 'http://{{ cryptocom_ip }}:20257'
grpc_addr = 'http://{{ cryptocom_ip }}:20290'
websocket_addr = 'ws://{{ cryptocom_ip }}:20257/websocket'

rpc_timeout = '20s'
account_prefix = 'cro'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 200000
max_gas = 10000000
gas_price = { price = 0.001, denom = 'basecro' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 400000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '18days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }
