[[chains]]
id = 'crypto-org-chain-mainnet-1'
rpc_addr = 'http://{{ cryptocom_ip }}:20257'
grpc_addr = 'http://{{ cryptocom_ip }}:20290'
websocket_addr = 'ws://{{ cryptocom_ip }}:20257/websocket'

rpc_timeout = '20s'
account_prefix = 'cro'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
max_gas = 1000000
gas_price = { price = 0.025, denom = 'basecro' }
gas_multiplier = 1.1
max_msg_num = 30
max_tx_size = 45000
clock_drift = '5s'
max_block_time = '10s'
trusting_period = '21days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
    ['transfer', 'channel-27'], # Cosmos
    ['transfer', 'channel-57'], # Evmosd
    ['transfer', 'channel-10'], # Osmosis
]
