[[chains]]
id = 'mars-1'
rpc_addr = 'http:/{{ mars_ip }}:18557'
grpc_addr = 'http:/{{ mars_ip }}:18590'
websocket_addr = 'ws:/{{ mars_ip }}:18557/websocket'

rpc_timeout = '20s'
account_prefix = 'mars'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 300000
max_gas =  10000000
gas_price = { price = 0.000, denom = 'umars' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }
