[[chains]]
id = 'omniflixhub-1'
rpc_addr = 'http://{{ omniflix_ip }}:16957'
grpc_addr = 'http://{{ omniflix_ip }}:16990'
websocket_addr = 'ws://{{ omniflix_ip }}:16957/websocket'

rpc_timeout = '20s'
account_prefix = 'omniflix'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 300000
max_gas = 10000000
gas_price = { price = 0.01, denom = 'uflix' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '14days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-5'], # Chihuahua
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-20'], # Juno
  ['transfer', 'channel-1'], # Osmosis
]
