[[chains]]
id = 'osmosis-1'
rpc_addr = 'http://{{ osmosis_ip }}:12557'
grpc_addr = 'http://{{ osmosis_ip }}:12590'
websocket_addr = 'ws://{{ osmosis_ip }}:12557/websocket'

rpc_timeout = '20s'
account_prefix = 'osmo'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 400000
max_gas = 120000000
gas_price = { price = 0.0025, denom = 'uosmo' }
gas_multiplier = 1.4
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }


[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-320'], # Agoric
  ['transfer', 'channel-208'], # Axelar
  ['transfer', 'channel-1'], # Akash
  ['transfer', 'channel-51'], # Bitcanna
  ['transfer', 'channel-113'], # Chihuahua
  ['transfer', 'channel-87'], # Comdex
  ['transfer', 'channel-1279'], # Composable
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-5'], # Cryptocom
  ['transfer', 'channel-297'], # Crescent
  ['transfer', 'channel-204'], # Evmos
  ['transfer', 'channel-144'], # Gravity
  ['transfer', 'channel-781'], # Gitopia
  ['transfer', 'channel-122'], # Injective
  ['transfer', 'channel-412'], # Jackal
  ['transfer', 'channel-42'], # Juno
  ['transfer', 'channel-169'], # Juno CW-20
  ['transfer', 'channel-143'], # Kava
  ['transfer', 'channel-77'], # Kichain
  ['transfer', 'channel-259'], # Kujira
  ['transfer', 'channel-557'], # Mars
  ['transfer', 'channel-199'], # Omniflix
  ['transfer', 'channel-4'], # Persistence
  ['transfer', 'channel-522'], # Quicksilver
  ['transfer', 'channel-165'], # Sommelier
  ['transfer', 'channel-75'], # Stargaze
  ['transfer', 'channel-326'], # Stride
  ['transfer', 'channel-362'], # Teritori
  ['transfer', 'channel-251'], # Terra2
  ['transfer', 'channel-184'], # Umee
  ['transfer', 'channel-642'], # Migaloo
]