[[chains]]
id = 'osmosis-1'
rpc_addr = 'http://{{ osmosis_ip }}:12557'
grpc_addr = 'http://{{ osmosis_ip }}:12590'
websocket_addr = 'ws://{{ osmosis_ip }}:12557/websocket'

rpc_timeout = '20s'
account_prefix = 'osmo'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 400000
max_gas = 120000000
gas_price = { price = 0.000, denom = 'uosmo' }
gas_multiplier = 1.5
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }
