[[chains]]
id = 'core-1'
rpc_addr = 'http://{{ persistence_ip }}:15457'
grpc_addr = 'http://{{ persistence_ip }}:15490'
websocket_addr = 'ws://{{ persistence_ip }}:15457/websocket'

rpc_timeout = '10s'
account_prefix = 'persistence'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 180000
max_gas = 2000000
gas_price = { price = 0.008, denom = 'uxprt' }
gas_multiplier = 1.1
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[[chains]]
id = 'core-1'
rpc_addr = 'http://<ip>:<port>'
grpc_addr = 'http://<ip>:<port>'
websocket_addr = 'ws://<ip>:<port>/websocket'
rpc_timeout = '10s'
account_prefix = 'persistence'
key_name = 'persistence'
store_prefix = 'ibc'
max_gas = 2000000
max_tx_size = 180000
gas_price = { price = 0.008, denom = 'uxprt' }
gas_multiplier = 1.1
clock_drift ='15s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '<add your memo>'
[chains.packet_filter]
policy = 'allow'
list = [
['transfer', 'channel-68'], #crescent
]

[[chains]]
id = 'crescent-1'
rpc_addr = 'http://<ip>:<port>'
grpc_addr = 'http://<ip>:<port>'
websocket_addr = 'ws://<ip>:<port>/websocket'
rpc_timeout = '15s'
account_prefix = 'cre'
key_name = 'crescent'
store_prefix = 'ibc'
default_gas = 3000000
max_gas = 10000000
gas_price = { price = 0.01, denom = 'ucre' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
trusting_period = '9days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '<add your memo>'
[chains.packet_filter]
policy = 'allow'
list = [
['transfer', 'channel-30'], #persistence
]