[[chains]]
id = 'secret-4'
rpc_addr = 'https://secretnetwork-rpc.lavenderfive.com:443'
grpc_addr = 'secretnetwork-grpc.lavenderfive.com:443'
websocket_addr = 'wss://secretnetwork-rpc.lavenderfive.com:443/websocket'

rpc_timeout = '20s'
account_prefix = 'agoric'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 300000
max_gas =  1000000
gas_price = { price = 0.01, denom = 'ubld' }
gas_multiplier = 1.4
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '14days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-6'], # Axelar
  ['transfer', 'channel-2'], # Crescent
  ['transfer', 'channel-5'], # Cosmos
  ['transfer', 'channel-4'], # Gravity
  ['transfer', 'channel-13'], # Kujira
  ['transfer', 'channel-1'], # Osmosis
]
