[[chains]]
id = 'secret-4'
rpc_addr = 'http://{{ secret_ip }}:17157'
grpc_addr = 'http://{{ secret_ip }}:17190'
websocket_addr = 'ws://{{ secret_ip }}:17157/websocket'

rpc_timeout = '30s'
account_prefix = 'secret'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 100000
max_gas = 3500000
gas_price = { price = 0.0125, denom = 'uscrt' }
gas_multiplier = 1.25
max_msg_num = 30
max_tx_size = 2097152
clock_drift = '20s'
max_block_time = '10s'
trusting_period = '14days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3'}