[[chains]]
id = 'umee-1'
rpc_addr = 'http://{{ umee_ip }}:13657'
grpc_addr = 'http://{{ umee_ip }}:13690'
websocket_addr = 'ws://{{ umee_ip }}:13657/websocket'

rpc_timeout = '20s'
account_prefix = 'umee'
key_name = '{{ key_name }}'
store_prefix = 'ibc'
address_type = { derivation = 'cosmos' }
default_gas = 300000
max_gas = 10000000
gas_price = { price = 0.001, denom = 'uumee' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }