---
- name: make hermes dir
  file:
    path: '/home/{{ ansible_user }}/.hermes/'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    state: directory

- name: Copy hermes config script
  template:
    src: '{{ target }}.toml.j2'
    dest: '/home/{{ ansible_user }}/.hermes/{{ target }}.toml'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'

- name: create hermes systemd unit
  become: true
  template:
    src: 'hermes.service.j2'
    dest: '/etc/systemd/system/hermes_{{ target }}.service'
    owner: root
    group: root
    mode: '600'

- name: Open hermes telemetry port
  become: true
  ufw:
    rule: allow
    proto: tcp
    port: '{{ telemetry_port }}'

- name: start hermes service
  become: true
  systemd:
    name: 'hermes_{{ target }}'
    state: restarted
    daemon_reload: yes
    enabled: yes
  changed_when: false
