[[chains]]
id = 'axelar-testnet-lisbon-3'
rpc_addr = 'http://{{ testnet_axelar_ip }}:15157'
grpc_addr = 'http://{{ testnet_axelar_ip }}:15190'
websocket_addr = 'ws://{{ testnet_axelar_ip }}:15157/websocket'

rpc_timeout = '20s'
account_prefix = 'axelar'
key_name = '{{ key_name }}'
address_type = { derivation = 'cosmos' }
store_prefix = 'ibc'
default_gas = 200000
max_gas = 10000000
gas_price = { price = 0.007, denom = 'uaxl' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '6days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-61'], # Evmos evmos_9000-4
  ['transfer', 'channel-19'], # Kujira happoon-4
  ['transfer', 'channel-22'], # Osmosis osmo-test-4
  ['transfer', 'channel-84'], # Terra pisco-1
]