[[chains]]
id = 'nois-testnet-003'
rpc_addr = 'http://{{ testnet_nois_ip }}:17357'
grpc_addr = 'http://{{ testnet_nois_ip }}:17390'
websocket_addr = 'ws://{{ testnet_nois_ip }}:17357/websocket'

rpc_timeout = '20s'
account_prefix = 'nois'
key_name = '{{ key_name }}'
store_prefix = 'ibc'
address_type = { derivation = 'cosmos' }
default_gas = 300000
max_gas = 3500000
gas_price = { price = 0.05, denom = 'unois' }
gas_multiplier = 1.3
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '12hours'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }
