{%- filter indent(width=2) %}
sei:
  type: cosmos
  value:
    key-directory: /home/ubuntu/.relayer_{{ target }}/keys/atlantic-2
    key: relayer
    chain-id: atlantic-2
    rpc-addr: http://{{ testnet_sei_ip }}:11957
    account-prefix: sei
    keyring-backend: test
    gas-adjustment: 2
    gas-prices: 0.01usei
    min-gas-amount: 0
    debug: false
    timeout: 20s
    block-timeout: ""
    output-format: json
    sign-mode: direct
    extra-codecs: []
    coin-type: 118
    broadcast-mode: batch
{%- endfilter %}
