{%- filter indent(width=2) %}
osmosis-sei:
  src:
    chain-id: osmo-test-5
    client-id: 07-tendermint-91
    connection-id: connection-111
  dst:
    chain-id: atlantic-2
    client-id: 07-tendermint-79
    connection-id: connection-51
  src-channel-filter:
    rule: ''
    channel-list: []
{%- endfilter %}