[[chains]]
id = 'comdex-1'
{% include 'fragments/ports.toml.j2' %}


rpc_timeout = '15s'
account_prefix = 'comdex'
key_name = 'comdex'
store_prefix = 'ibc'
max_tx_size = 180000
max_gas = 200000
gas_price = { price = 0.0025, denom = 'ucmdx' }
gas_multiplier = 2
clock_drift ='1000s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', '*'],
]
