[[chains]]
id = 'darchub'
{% include 'fragments/ports.toml.j2' %}


rpc_timeout = '30s'
account_prefix = 'darc'
key_name = 'darc'
max_tx_size = 650000
store_prefix = 'ibc'
max_gas = 1000000 
gas_price = { price = 0.01, denom = 'udarc' }
gas_multiplier = 2
clock_drift ='10s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', '*'],
]
