{% if use_public_endpoints %}

rpc_addr = 'https://{{ item.value.network | default(item.key) }}-rpc.{{ website }}:443'
grpc_addr = 'https://{{ item.value.network | default(item.key) }}-grpc.{{ website }}:443'
websocket_addr = 'wss://{{ item.value.network | default(item.key) }}-rpc.{{ website }}:443/websocket'

{% else %}

{% set rpc_port = prefixes[item.key]|string + '57' if port_prefix_url is defined else default_rpc %}
{% set grpc_port = prefixes[item.key]|string + '90' if port_prefix_url is defined else default_grpc %}
rpc_addr = 'http://{{ item.value.ip }}:{{ rpc_port }}'
grpc_addr = 'http://{{ item.value.ip }}:{{ grpc_port }}'
websocket_addr = 'ws://{{ item.value.ip }}:{{ rpc_port }}/websocket'

{% endif %}
