{% include 'fragments/header.toml.j2' %}


{% include 'fragments/evmos.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-0'], # Cosmos
]

{% include 'fragments/cosmos.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel292-'], # Evmos
]
