{% include 'fragments/header.toml.j2' %}


{% include 'fragments/kujira.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-9'], # Axelar
  ['transfer', 'channel-1'], # Juno
  ['transfer', 'channel-0'], # Cosmos
  ['transfer', 'channel-23'], # Evmos
  ['transfer', 'channel-3'], # Osmosis
]

{% include 'fragments/axelar.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-14'], # kujira
]

{% include 'fragments/cosmos.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-343'], # Kujira
]

{% include 'fragments/evmos.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-18'], # Kujira
]

{% include 'fragments/juno.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-87'], # kujira
]

{% include 'fragments/osmosis.toml.j2' %}

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', 'channel-259'], # kujira
]