[[chains]]
id = 'bitsong-2b'
rpc_addr = 'http://{{ bitsong_ip }}:16957'
grpc_addr = 'http://{{ bitsong_ip }}:16090'
websocket_addr = 'ws://{{ bitsong_ip }}:16057/websocket'

rpc_timeout = '15s'
account_prefix = 'bitsong'
key_name = 'bitsong'
store_prefix = 'ibc'
max_tx_size = 180000
max_gas = 200000
gas_price = { price = 0.0025, denom = 'ubtsg' }
gas_adjustment = 1
clock_drift ='1000s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', '*'],
]
