[[chains]]
id = 'cerberus-chain-1'
rpc_addr = 'http://{{ cerberus_ip }}:13857'
grpc_addr = 'http://{{ cerberus_ip }}:13890'
websocket_addr = 'ws://{{ cerberus_ip }}:13857/websocket'

rpc_timeout = '15s'
account_prefix = 'cerberus'
key_name = 'cerberus'
store_prefix = 'ibc'
max_tx_size = 180000
max_gas = 200000
gas_price = { price = 0.0025, denom = 'ucrbrus' }
gas_adjustment = 1
clock_drift ='1000s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', '*'],
]
