[[chains]]
id = 'omniflixhub-1'
{% include 'fragments/ports.toml.j2' %}


rpc_timeout = '15s'
account_prefix = 'omniflix'
key_name = 'omniflix'
max_tx_size = 180000
store_prefix = 'ibc'
max_gas = 2000000
gas_price = { price = 0.005, denom = 'uflix' }
gas_adjustment = 0.1
clock_drift = '15s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', '*'],
]
