[[chains]]
id = 'omniflixhub-1'
{% set rpc_port = port_prefixes.json[item.key] if port_prefix_url is defined else default_rpc %}
{% set grpc_port = port_prefixes.json[item.key] if port_prefix_url is defined else default_grpc %}
rpc_addr = 'http:/{{ item.value.ip }}:{{ rpc_port }}57'
grpc_addr = 'http:/{{ item.value.ip }}:{{ grpc_port }}90'
websocket_addr = 'ws:/{{ item.value.ip }}:{{ rpc_port }}57/websocket'

rpc_timeout = '15s'
account_prefix = 'omniflix'
key_name = 'omniflix'
max_tx_size = 180000
store_prefix = 'ibc'
max_gas = 2000000
gas_price = { price = 0.005, denom = 'uflix' }
gas_adjustment = 0.1
clock_drift = '15s'
trusting_period = '14days'
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = '{{ memo }}'

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', '*'],
]
