[[chains]]
id = 'sifchain-1'
rpc_addr = 'http://{{ sifchain_ip }}:13257'
grpc_addr = 'http://{{ sifchain_ip }}:13290'
websocket_addr = 'ws://{{ sifchain_ip }}:13257/websocket'

rpc_timeout = '20s'
account_prefix = 'sif'
key_name = 'relayer'
store_prefix = 'ibc'
address_type = { derivation = 'cosmos' }
default_gas = 100000
max_gas = 100000000
gas_price = { price = 0.001, denom = 'rowan' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '14days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }
