[[chains]]
id = 'umee-1'
{% set rpc_port = port_prefixes.json[item.key] if port_prefixes_url is defined else default_rpc %}
{% set grpc_port = port_prefixes.json[item.key] if port_prefixes_url is defined else default_grpc %}
rpc_addr = 'http:/{{ item.value.ip }}:{{ rpc_port }}57'
grpc_addr = 'http:/{{ item.value.ip }}:{{ grpc_port }}90'
websocket_addr = 'ws:/{{ item.value.ip }}:{{ rpc_port }}57/websocket'

rpc_timeout = '20s'
account_prefix = 'umee'
key_name = 'relayer'
store_prefix = 'ibc'
address_type = { derivation = 'cosmos' }
default_gas = 100000
max_gas = 1000000
gas_price = { price = 0.001, denom = 'uumee' }
gas_multiplier = 1.2
max_msg_num = 30
max_tx_size = 1800000
clock_drift = '15s'
max_block_time = '10s'
trusting_period = '7days'
memo_prefix = '{{ memo }}'
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
  ['transfer', '*'],
]
